doctype html
head
  title Selected Book
  style 
    include ../public/stylesheets/style.css
h2 Selected Title
table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year
      th Update
      th Delete
  tbody
      tr
        td #{data.dataValues.title}
        td #{data.dataValues.author}
        td #{data.dataValues.genre}
        td #{data.dataValues.year}
        td 
          a.button(href=`/books/${data.dataValues.id}/update`) Update
        td 
          a.button(href=`/books/${data.dataValues.id}/delete`) Delete 
br
a.button(href="/books") Home
